/*      MAIN SETTINGS    */
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

div,
a,
button,
p,
input,
span {
  box-sizing: border-box;
}

a,
a:hover,
a:active {
  text-decoration: none;
  transition: all 0.5s ease;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.4em;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

/*      FIRST SECTION      */

.header {
  font-size: 13px;
  color: #fff;
  padding: 60px 0 108px;
  background: rgba(74, 17, 87, 1);
  background: -moz-linear-gradient(
    left,
    rgba(74, 17, 87, 1) 0%,
    rgba(185, 0, 252, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(74, 17, 87, 1)),
    color-stop(100%, rgba(185, 0, 252, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(74, 17, 87, 1) 0%,
    rgba(185, 0, 252, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(74, 17, 87, 1) 0%,
    rgba(185, 0, 252, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(74, 17, 87, 1) 0%,
    rgba(185, 0, 252, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(74, 17, 87, 1) 0%,
    rgba(185, 0, 252, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a1157', endColorstr='#b900fc', GradientType=1 );
}

.nav {
  font-size: 13px;
  align-items: center;
}

.nav__menu {
  margin-left: 91px;
}

.nav__item {
  margin-right: 38px;
}

.nav__link {
  color: #fff;
  text-decoration: none;
}

.nav__link:hover {
  font-weight: bold;
  transition: all 0.5s ease;
}

.nav__link:last-of-type {
  font-size: 12px;
}

.nav__phone {
  margin-left: auto;
  font-weight: bold;
}

.offer {
  margin-top: 54px;
  align-items: center;
}

.main-content {
  margin-left: 79px;
}

.main-content__title {
  font-size: 29px;
  font-weight: 400;
}

.main-content__title:after {
  content: " ";
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
  background: #fff;
  width: 137px;
  height: 6px;
  border-radius: 3px;
}

.main-content__text {
  text-transform: uppercase;
  letter-spacing: 0.26em;
}

.main-content__btn {
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 100px;
  padding: 19px 46px;
  text-align: center;
  margin-top: 42px;
}

.balls {
  margin-right: 40px;
}
