/*      FIRST SECTION      */

.header {
  font-size: 13px;
  color: #fff;
  padding: 60px 0 108px;
  background: rgba(74, 17, 87, 1);
  background: -moz-linear-gradient(
    left,
    rgba(74, 17, 87, 1) 0%,
    rgba(185, 0, 252, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(74, 17, 87, 1)),
    color-stop(100%, rgba(185, 0, 252, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(74, 17, 87, 1) 0%,
    rgba(185, 0, 252, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(74, 17, 87, 1) 0%,
    rgba(185, 0, 252, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(74, 17, 87, 1) 0%,
    rgba(185, 0, 252, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(74, 17, 87, 1) 0%,
    rgba(185, 0, 252, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a1157', endColorstr='#b900fc', GradientType=1 );
}

.nav {
  font-size: 13px;
  align-items: center;
}

.nav__menu {
  margin-left: 91px;
}

.nav__item {
  margin-right: 38px;
}

.nav__link {
  color: #fff;
  text-decoration: none;
}

.nav__link:hover {
  font-weight: bold;
  transition: all 0.5s ease;
}

.nav__link:last-of-type {
  font-size: 12px;
}

.nav__phone {
  margin-left: auto;
  font-weight: bold;
}

.offer {
  margin-top: 54px;
  align-items: center;
}

.main-content {
  margin-left: 79px;
}

.main-content__title {
  font-size: 29px;
  font-weight: 400;
}

.main-content__title:after {
  content: " ";
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
  background: #fff;
  width: 137px;
  height: 6px;
  border-radius: 3px;
}

.main-content__text {
  margin-top: 18px;
  text-transform: uppercase;
  letter-spacing: 0.26em;
}

.main-content__btn {
  margin-top: 35px;
}

.main-content__btn:hover {
  background: #fff;
  color: #b900fc;
}

.main-content__btn:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0, 3) inset;
}

.balls {
  margin-right: 40px;
}

/*      SECOND SECTION    */

.trust {
  box-shadow: 0 -40 60px;
}
.lottery {
  margin-top: 77px;
}

.lottery__item {
  align-items: center;
}

.lottery__icon {
  width: 65px;
  height: 65px;
  background: #e82c9f url("../img/dollar.png") center center no-repeat;
  border-radius: 50%;
  box-shadow: 9px 9px 22px;
  margin-right: 21px;
}

.lottery__title {
  margin-top: -2px;
  text-transform: none;
  color: #e82c9f;
}

.lottery__text {
  color: #b0b2b3;
  margin-bottom: 0px;
}

/*      THIRD SECTION    */

.wrapper {
  margin-top: 52px;
}

.wrapper__title {
  margin-bottom: 30px;
  font-weight: 400;
  color: #8707b3;
}

.wrapper__item {
  max-width: 412px;
  width: 100%;
}

.wrapper__item:last-child {
  max-width: 400px;
  width: 100%;
}

.wrapper__text {
  color: #606060;
}

.wrapper__text a {
  color: #606060;
  text-decoration: underline;
}

.wrapper__text a:hover {
  color: #606060;
  text-decoration: none;
}

.wrapper__text:not(:last-of-type) {
  margin-bottom: 35px;
}

.wrapper__btn {
  margin-top: 15px;
  color: #ff7300;
  border: 1px solid #ff7300;
}

.wrapper__btn:hover {
  background: #ff7300;
  color: #fff;
}

.wrapper__btn:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0, 3) inset;
}

/*      FOOTER    */

.footer {
  padding: 45px 0 45px 0;
  background: #c9c9c9;
}

.credits {
  font-weight: 400;
  text-align: center;
  font-size: 12px;
}

/* MEDIA QUARY */

@media screen and (max-width: 992px) {
  .main-content__title {
    font-size: 20px;
  }

  .main-content__text {
    font-size: 12px;
  }

  .lottery__icon {
    margin-right: 0px;
  }

  .lottery__item {
    width: 100%;
  }

  .wrapper {
  }

  .wrapper__item {
    width: 45%;
  }
  .wrapper__item:last-child {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
  }

  .nav__menu {
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
    gap: 15px;
    margin-left: 0px;
    text-align: center;
  }

  .nav__item {
    margin-right: 0px;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .nav__phone {
    margin-left: 0;
  }

  .main-content__title {
    font-size: 13px;
  }

  .main-content__text {
    font-size: 8px;
  }
}

@media screen and (max-width: 576px) {
  .balls {
    margin-right: 0px;
    width: 95%;
  }
  .main-content {
    margin-left: 0px;
  }
  .offer {
    flex-direction: column;
    align-items: center;
  }
  .nav__item {
    margin-right: 0px;
  }

  .nav__menu {
    margin-left: 0px;
    text-align: center;
  }

  .lottery {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .lottery__content {
    margin-left: 15px;
  }

  .wrapper__title {
    font-size: 15px;
  }

  .wrapper__text {
    gap: 15px;
  }

  .wrapper__item h3 {
    margin-top: 15px;
  }

  .wrapper__btn {
    padding: 19px 17px;
  }

  .credits {
    font-size: 11px;
  }
}
